body
{
    color: rgb(62, 0, 112);
    text-align: center;
    font-family: Courier;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background: #33A;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    -webkit-box-shadow: 0px 0px 74px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 74px 1px rgba(0,0,0,1);
    box-shadow: 0px 0px 74px 1px rgba(0,0,0,1);
}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(0, 66, 52);
    margin: 0 auto;
}
#container
{
    font-size: 20px;
}